<!-- Comments From -->
<%= form_with url: post_comments_path(post) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <!-- Only pass the parent_id for 'child' comments -->
  <% unless parent.nil? %> 
    <%= form.hidden_field :parent_id, value: "#{parent.id}" %>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit "Comment" %>
  </div>
<% end %>
<br>