<!-- Comments From -->
<%= form_with url: post_comments_path(post) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Comment" %>
  </div>
<% end %>
<br>