<% if current_user[:id] === @post.user_id %>
  <h1>Edit Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Delete this post', @post, method: :delete, data: { confirm: 'Are you sure?'} %>
  <br>
  <br>
  <%= link_to "Back Home", root_path %>
<% else %>
  <%= link_to "Back Home", root_path %>
<% end %>
